<footer class="site-footer">
    <div class="wrapper footer-content">
        <div class="footer-left">
            RSS feed available&nbsp;
            {%- if site.rss_feed -%}
            <a href="{{ site.rss_feed }}">here</a>
            {%- else -%}
            <a href="/feed.xml">here</a>
            {%- endif -%}
        </div>

        <div class="footer-right">
            Follow me at&nbsp;
            {%- if site.twitter_username -%}
            <a href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener">X</a>
            {%- endif -%}
            {%- if site.linkedin_username -%}
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">LinkedIn</a>
            {%- endif -%}
        </div>
    </div>
</footer>
