<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <div class="trigger">
                {%- if page.url == "/essays/" -%}
                <a class="page-link" href="{{ "/" | relative_url }}">About Me</a>
                {%- else -%}
                <a class="page-link" href="{{ "/essays/" | relative_url }}">Essays</a>
                {%- endif -%}
            </div>
        </nav>
    </div>
</header>