---
layout: default
---
<div class="home">
    {{ content }}

    {%- assign favorite_posts = site.posts | where_exp: "post", "post.tags contains 'favorite'" -%}
    {%- if favorite_posts.size > 0 -%}
    <p>I like to write. If you don't know where to start, then start from here:</p>
    <ul class="post-list">
        {%- for post in favorite_posts -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if post.excerpt -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</div>